<!-- views/signup.ejs -->
<!-- Code from https://scotch.io/tutorials/easy-node-authentication-setup-and-local#conclusion -->
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>OAuth Tutorials</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<style>
			body{
				font-family: arial;
				margin: 0;
			}
			nav{
				background: #ff5353;
				padding: 20px 10px;
			}
			nav ul{
				max-width: 960px;
				margin: 0 auto;
				padding: 0;
			}
			nav li{
				list-style-type: none;
				display: inline-block;
				margin: 0 10px 0 0;
			}
			nav a{
				color: #fff;
				font-size: 18px;
				background: rgba(255,255,255,0.2);
				text-decoration: none;
				padding: 10px;
				display: block;
			}
			main, header{
				max-width: 960px;
				margin: 30px auto;
				padding: 0 10px;
				color: #333;
			}
		</style>
	</head>
	<body>
		<nav>
			<!--TODO: Protect this view -->
			<ul>
				<li><a href="/auth/login">Login</a></li>			
				<li><a href="/">Homepage</a></li>
			</ul>
		</nav>
		<main>
			<div class="container">
				<div class="col-sm-6 col-sm-offset-3">
	
					<h1><span class="fa fa-sign-in"></span> Recover password</h1>
	
					<!-- LOGIN FORM -->
					<form action="/auth/forgot-password" method="post">
						<div class="form-group">
							<label>Email</label>
							<input type="text" class="form-control" name="email">
						</div>
	    				<button type="submit" class="btn btn-warning btn-lg">Recover password</button>
					</form>
	
					<hr>
	
					<p>Go to login? <a href="/auth/login">Login</a></p>	
				</div>
			</div>
		</main>		
	</body>
</html>
